@font-face {
  font-family: "Jomhuria";
  src: url("./assets/fonts/Jomhuria-Regular.ttf");
}


@font-face {
  font-family: "Nunito_Sans_10pt_Condensed_Light";
  src: url("./assets/fonts/NunitoSans_10pt_Condensed-Light.ttf");
}

@font-face {
	font-family: "Nunito_Sans_10pt_Condensed_Regular";
	src: url("./assets/fonts/NunitoSans_10pt_Condensed-Regular.ttf");
}

@font-face {
  font-family: "Nunito_Sans_10pt_Condensed_SemiBold";
  src: url("./assets/fonts/NunitoSans_10pt_Condensed-SemiBold.ttf");
}

@font-face {
	font-family: "Nunito_Sans_10pt_Condensed_Bold";
	src: url("./assets/fonts/NunitoSans_10pt_Condensed-Bold.ttf");
}

.test {
  background-color: #4596cf;
  padding: 1px;
}
:root {
  background-color: #F5F5F5;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18;
  line-height: 1.5;
}
body {
  margin: 0; /* Override user agent stylesheet*/
} 

/* Body Style */
.body {
  background-color: #F5F5F5;
  margin: 10rem 8rem 5rem 8rem;
}
.screen-block {
  background-color: white;
  padding: 3rem 4rem;
}

/* Font Weight */
.bold-txt {
  font-family: Nunito_Sans_10pt_Condensed_Bold;
}
.semi-bold-txt {
  font-family: Nunito_Sans_10pt_Condensed_SemiBold;
}
.light-txt {
  font-family: Nunito_Sans_10pt_Condensed_Light;
}

/* Font Size */
.font-20 {
  font-size: 20px;
}
.font-18 {
  font-size: 18px;
}
.font-16 {
  font-size: 16px;
}

/* Single Special Style */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-content-center {
  display: flex;
  justify-content: center;
}
.flex-items-center {
  display: flex;
  align-items: center;
}
.flex-items-start {
  display: flex;
  align-items: flex-start;
}
.flex-self-start {
  display: flex;
  align-self: flex-start;
}
.flex-self-end {
  display: flex;
  align-self: flex-end;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.text-decor-none {
  text-decoration: none;
}

.margin-top-0 {
  margin-top: 0;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-top-2rem {
  margin-top: 2rem;
}
.margin-top-10 {
  margin-top: 10%;
}
.margin-top-12 {
  margin-top: 12%;
}

.margin-right-2rem {
  margin-right: 2rem;
}
.margin-right-5rem {
  margin-right: 5rem;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-left-10 {
  margin-left: 10%;
}

.home-card {
  background-color: white;
  padding: 2rem 3.5rem;
}

.width-30 {
  width: 30%;
}
.width-45 {
  width: 45%;
}
.width-100 {
  width: 100%;
}
.width-fit-content {
  width: fit-content;
}

.height-max-content {
  height: max-content;
}

.screen-title {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

/* App Name Style */
.appName {
  font-family: Jomhuria;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Navbar */
#nav {
  z-index: 15;
  position: fixed;
  top: 0;
  width: 90vw;
  background-color: #358bca;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0rem 5rem;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#nav li:hover {
  background-color: #4596cf;
  height: 100%;
  display: flex;
  align-items: center;
}
#nav li:active {
  background-color: #4596cf;
}
#nav a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/* Card */
.card {
  background-color: white;
  padding: 3rem 4rem;
}
.card-margin-top {
  margin-top: 2px;
}
.card-margin-right {
  margin-right: 2px;
}
.card-left {
  display: flex;
  flex: 9;
}
.card-right {
  display: flex;
  flex: 6;
}
.card-group-container {
  display: table;
  width: 100%;
}
.card-group-col {
  display: table-cell;
  border-left: 2px solid #F5F5F5;
}
.card-group-col:nth-of-type(2n - 1) {
  display: table-cell;
  border-left: 0px solid transparent;
}
.card-group-ele {
  display: table-cell;
  width: 50%;
  border-left: 2px solid #F5F5F5;
}
.card-group-ele:nth-of-type(2n - 1) {
  margin-right: 2px;
  border: 0px solid transparent;
}
.card-title {
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #358bca;
}
.card-content {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18px;
  color: #888;
  margin-bottom: 1.5rem;
}

/* Login Screen */
.appName-block {
  flex: 3;
  height: 100vh;
  background-image: linear-gradient(#DBF0FF, #358BCA);
}
.img-login {
  width: 60%;
  height: fit-content;
}
.appName-login {
  font-family: Jomhuria;
  font-size: 6.5rem;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
}
.app-slogan-txt {
  color: white;
  margin-top: -3.5rem;
  font-family: Nunito_Sans_10pt_Condensed_Light;
  font-size: 1.5rem;
}
.login-title-txt {
  color: #358BCA;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  margin-bottom: 15%;
}
.form-block {
  flex: 2;
  background-color: white;
  padding: 7rem 6rem;
}
.input-field {
  color: #358BCA;
  border: 1px solid #358BCA;
  border-radius: 10px;
  padding: 1.5rem 0rem 1.5rem 1rem;
  margin-bottom: 2%;
}
.input-field:focus {
  outline: none !important;
  border:1px solid #358BCA;
  box-shadow: 0 0 5px #719ECE;
}
::placeholder {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18px;
  color: #358BCA;
  opacity: 1;
}
.login-checkbox {
  margin-left: 0px;
  vertical-align: middle;
  accent-color: #358BCA;
}

/* Register Screen */


/* MBTI Screen */
.question-card {
  background-color: white;
  border-radius: 25px;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}
.question-card h1 {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.MBTI-question-txt {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.answer-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.answer-item {
  width: 42.5%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  align-items: center;
  border: 1px ridge #358bca;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}

.answer-item:hover {
  background-color: #eaeaea;
  border-color: #142531;
  color: #142531;
}

.selected {
  background-color: #358bca;
  color: white;
  border: 0;
}

.Panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 70% (0.7) */
  justify-content: center;
  align-items: center;
  display: none;
}

.result_form {
  width: 70%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.panel_info {
  padding: 32px;
}

.panel_info p {
  font-size: 13px;
}
.info {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.hero span {
  font-weight: "bold";
  font-size: 20px;
}

/* Career Cluster Screen */
.CC-instruction-txt {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  color: #666;
  margin-bottom: 2rem;
}
.CC-card {
  background-color: white;
  border-radius: 25px;
  padding: 2rem 1.5rem 2rem 0.25rem; /* top right bottom left*/
  margin-bottom: 2rem;
}
.CC-card-title-txt {
  color: #358bca;
  transform: rotate(-90deg);
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.25rem;
  text-align: center;
  width: 65px;
}
.CC-separate-line {
  height: 200px;
  border-left: 1px solid #888;
}
.CC-checkbox {
  margin-left: 0px;
  margin-bottom: 7px;
  vertical-align: middle;
  accent-color: #358bca;
}
.CC-activities-block {
  width: 40%;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.CC-qualities-block {
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.CC-subjects-block {
  width: 25%;
  margin-left: 1rem;
}

/* Major Result Screen */
.left-res-block {
  display: flex;
  flex: 1;
  margin-right: 1.5rem;
}
.right-res-block {
  display: flex;
  flex: 2;
}
.res-block {
  margin-top: 4rem;
}
.rcm-card{
  padding: 40px;
}
.rcm-card-container{
  background-color: #d5e6f2;
  border: 1px solid #d5e6f2;
  border-radius: 50px;
}
.rcm-card-content{
  color: #666;
}

/* Detail Screens */
.detail-txt {
  color: #444;
  margin-bottom: 1rem;
}

.detail-txt ul {
  margin: 0;
  padding-left: 20px;
}

/* Images */
.img-home-1 {
  width: 45%;
  height: fit-content;
  margin-right: 3rem;
}
.img-home-2 {
  width: 50%;
  height: fit-content;
}
.img-major{
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.img {
  float: right;
  cursor: pointer;
}

/* Dropdown */
.dropdown {
  width: 45%;
  background-color: white;
  color: #444;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #444;
  border-radius: 10px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18px;
  text-decoration: none;
}

.dropdown-option:hover {
  background-color: #888;
  color: #fff; /* Thay đổi màu chữ khi hover vào option */
}

/* Buttons */
.primary-btn {
  background-color: #358bca;
  color: white;
  padding: 1rem 2rem;
  border-width: 1px;
  border-color: #358bca;
  border-radius: 10px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  text-align: center;
  text-decoration: none;
}
.primary-btn:hover {
  background-color: #3285c0;
  color: white;
}
.disable-primary-btn {
  opacity: 0.6;
  cursor: not-allowed;
}

.primary-txt-btn {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  text-decoration: none;
}
.primary-txt-btn:hover {
  color: #1a6eaa;
}

.primary-outline-btn {
  background-color: white;
  color: #358bca;
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  border-color: #358bca;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  text-decoration: none;
  text-align: center;
}

.primary-outline-btn:hover {
  background-color: #358BCA;
  color: white;
}

.white-outline-btn {
  background-color: #358bca;
  color: white;
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  border-color: white;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}
.white-outline-btn:hover {
  background-color: white;
  color: #358bca;
}
.white-outline-btn:active {
  background-color: white;
  color: #358bca;
}
.secondary-outline-btn {
  background-color: white;
  color: #888;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 1px;
  border-color: #888;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  text-decoration: none;
  width: fit-content;
}
.secondary-outline-btn:hover {
  background-color: #888;
  color: white;
}
.secondary-outline-btn:active {
  background-color: #888;
  color: white;
}

/* Footer */
.footer {
  background-color: #F5F5F5;
  color: #888;
  display: flex;
  justify-content: center;
}
.footer-icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.footer-info {
  margin-bottom: 1rem;
}