@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jomhuria";
  src: url("./assets/fonts/Jomhuria-Regular.ttf");
}

@font-face {
  font-family: "Nunito_Sans_10pt_Condensed_Light";
  src: url("./assets/fonts/NunitoSans_10pt_Condensed-Light.ttf");
}

@font-face {
  font-family: "Nunito_Sans_10pt_Condensed_Regular";
  src: url("./assets/fonts/NunitoSans_10pt_Condensed-Regular.ttf");
}

@font-face {
  font-family: "Nunito_Sans_10pt_Condensed_SemiBold";
  src: url("./assets/fonts/NunitoSans_10pt_Condensed-SemiBold.ttf");
}

@font-face {
  font-family: "Nunito_Sans_10pt_Condensed_Bold";
  src: url("./assets/fonts/NunitoSans_10pt_Condensed-Bold.ttf");
}

.test {
  background-color: #4596cf;
  padding: 1px;
}
:root {
  background-color: #ecf0f1;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18;
  line-height: 1.5;
}
body {
  margin: 0;
}

/******************* Body Style *******************/
.body {
  background-color: #ecf0f1;
  margin: 10rem 8rem 5rem 8rem;
}
.shorten-top-body {
  margin-top: 7rem;
}
.screen-block {
  background-color: white;
  padding: 3rem 4rem;
}

/******************* Font Weight *******************/
.bold-txt {
  font-family: Nunito_Sans_10pt_Condensed_Bold;
}
.semi-bold-txt {
  font-family: Nunito_Sans_10pt_Condensed_SemiBold;
}
.light-txt {
  font-family: Nunito_Sans_10pt_Condensed_Light;
}

/******************* Font Size *******************/
.font-20 {
  font-size: 20px;
}
.font-18 {
  font-size: 18px;
}
.font-16 {
  font-size: 16px;
}

/******************* Single Special Style *******************/
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-content-center {
  display: flex;
  justify-content: center;
}
.flex-items-center {
  display: flex;
  align-items: center;
}
.flex-items-start {
  display: flex;
  align-items: flex-start;
}
.flex-self-start {
  display: flex;
  align-self: flex-start;
}
.flex-self-end {
  display: flex;
  align-self: flex-end;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.text-decor-none {
  text-decoration: none;
}
.text-color-primary {
  color: #358bca;
}

.margin-top-0 {
  margin-top: 0;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-top-2rem {
  margin-top: 2rem;
}
.margin-top-2 {
  margin-top: 2%;
} /* components/OAuth */
.margin-top-8 {
  margin-top: 8%;
} /* components/LoginForm */
.margin-top-10 {
  margin-top: 10%;
}
.margin-top-12 {
  margin-top: 12%;
}
.margin-top-panel {
  margin-top: 5rem;
}

.margin-right-2rem {
  margin-right: 2rem;
}
.margin-right-5rem {
  margin-right: 5rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}
.margin-bottom-2rem {
  margin-bottom: 2rem;
}

.margin-left-10 {
  margin-left: 10%;
}

.home-card {
  background-color: white;
  padding: 2rem 3.5rem;
}

.width-30 {
  width: 30%;
}
.width-45 {
  width: 45%;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
.width-fit-content {
  width: fit-content;
}

.height-max-content {
  height: max-content;
}

.screen-title {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

/******************* App Name Style *******************/
.appName {
  font-family: Jomhuria;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
}

/******************* Navbar *******************/
#nav {
  z-index: 15;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #358bca;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0rem 5rem;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
#nav li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#nav li:hover {
  background-color: #4596cf;
  height: 100%;
  display: flex;
  align-items: center;
}
#nav li:active {
  background-color: #4596cf;
}
#nav a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/******************* Card *******************/
.card {
  background-color: white;
  padding: 3rem 4rem;
}
.card-margin-top {
  margin-top: 2px;
}
.card-margin-right {
  margin-right: 2px;
}
.card-left {
  display: flex;
  flex: 60%;
}
.card-right {
  display: flex;
  flex: 5;
}
.card-group-container {
  display: table;
  width: 100%;
}
.card-group-ele {
  display: table-cell;
  width: 50%;
  border-left: 2px solid #f5f5f5;
}
.card-group-ele:nth-of-type(2n - 1) {
  margin-right: 2px;
  border: 0px solid transparent;
}
.card-title {
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #358bca;
}
.card-content {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18px;
  color: #888;
  margin-bottom: 1.5rem;
}
.red {
  color: red;
}
.rounded-full {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

/******************* Authentication Screen *******************/
.appName-block {
  flex: 3;
  height: 100vh;
  background-image: linear-gradient(#dbf0ff, #358bca);
}
.img-authen {
  width: 60%;
  height: fit-content;
}
.appName-authen {
  font-family: Jomhuria;
  font-size: 6.5rem;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
}
.app-slogan-txt {
  color: white;
  margin-top: -3.5rem;
  font-family: Nunito_Sans_10pt_Condensed_Light;
  font-size: 1.5rem;
}
.authen-title-txt {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  margin-bottom: 8%;
}
.form-block {
  flex: 2;
  background-color: white;
  padding: 4rem 5rem 1rem 5rem;
}
.input-field {
  color: #358bca;
  border: 1px solid #358bca;
  border-radius: 10px;
  padding: 1.25rem 0rem 1.25rem 1rem;
  margin-bottom: 2%;
}
.input-field:focus {
  outline: none !important;
  border: 1px solid #358bca;
  box-shadow: 0 0 5px #719ece;
}
::placeholder {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18px;
  color: #358bca;
  opacity: 1;
}

/******************* MBTI Screen *******************/
.question-card {
  background-color: white;
  border-radius: 25px;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  width: 100%;
}

/******************* IQ Screen *******************/
.progress-card {
  /* margin-top: 5px; */
  background: linear-gradient(to bottom, #358bca, #89e0ff);
  padding: 2rem 4rem;
  width: 100%;
  height: 12rem;
  position: sticky;
  z-index: 1;
  top: 5rem;
}
.progress-card-title {
  color: white;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
.time-clock {
  color: white;
}
.text-bar {
  color: white;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.question-card h1 {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.MBTI-question-txt {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.answer-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1rem;
}
.answer-item {
  width: 42.5%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  align-items: center;
  border: 1px ridge #358bca;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}
.answer-item:not(.selected):hover {
  background-color: #eef8ff;
  border-color: #358bca;
  color: #358bca;
}
.answer-item input {
  margin-right: 10px;
}
.answer-item-4 {
  width: 42.5%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  align-items: center;
  border: 1px ridge #358bca;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}
.answer-item-4 input {
  margin-right: 10px;
}
.answer-item-4:not(.selected):hover {
  background-color: #eef8ff;
  border-color: #358bca;
  color: #358bca;
}

.answer-item-5 {
  width: 18%; 
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  align-items: center;
  border: 1px ridge #358bca;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.5rem 1.5rem; 
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}

.answer-item-5 input {
  margin-right: 10px; /* Keep spacing between input and label */
}

.answer-item-5:not(.selected):hover {
  background-color: #eef8ff;
  border-color: #358bca;
  color: #358bca;
}

.selected {
  background-color: #358bca;
  color: white;
  border: 0;
}

/* Panel */
.Panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Màu đen với độ trong suốt 70% (0.7) */
  justify-content: center;
  align-items: center;
  display: none;
}

.result_form {
  width: 70%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.panel_info {
  padding: 2rem;
}
.panel_info p {
  font-size: 16px;
}
.panel_info p ul {
  list-style: inside;
}

.info {
  /* background-color: antiquewhite; */
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.hero-margin {
  margin-bottom: 1rem;
}

.hero span {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
}

/******************* Career Cluster Screen *******************/
.CC-instruction-txt {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  color: #666;
  margin-bottom: 2rem;
}
.CC-card {
  background-color: white;
  border-radius: 25px;
  padding: 2rem 1.5rem 2rem 0.25rem; /* top right bottom left*/
  margin-bottom: 2rem;
}
.CC-card-title-txt {
  color: #358bca;
  transform: rotate(-90deg);
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.25rem;
  text-align: center;
  width: 65px;
}
.CC-separate-line {
  height: 200px;
  border-left: 1px solid #888;
}
.CC-font {
  align-items: center;
  justify-content: center;
}
.CC-checkbox {
  margin-left: 0px;
  vertical-align: middle;
  accent-color: #358bca;
  margin-right: 10px;
  font-size: 20px;
}
.CC-activities-block {
  width: 40%;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
.CC-qualities-block {
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
}
.CC-subjects-block {
  width: 25%;
  margin-left: 1rem;
}

/******************* Major Result Screen *******************/
.left-res-block {
  display: flex;
  flex: 1;
  margin-right: 1.5rem;
}
.right-res-block {
  display: flex;
  flex: 2;
}
.res-block {
  margin-top: 4rem;
}
.rcm-card {
  padding: 40px;
}
.rcm-card-container {
  background-color: #d5e6f2;
  border: 1px solid #d5e6f2;
  border-radius: 50px;
}
.rcm-card-content {
  color: #666;
}

/******************* Detail Screens *******************/
.detail-txt {
  color: #444;
  margin-bottom: 1rem;
}

.detail-txt ul {
  list-style: inside;
}

/******************* Images *******************/
.img-home-1 {
  width: 45%;
  height: fit-content;
  margin-right: 3rem;
}
.img-home-2 {
  width: 50%;
  height: fit-content;
}
.img-major {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
.img-detail {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.img {
  float: right;
  cursor: pointer;
}

/******************* Dropdown *******************/
.dropdown {
  width: 45%;
  background-color: white;
  color: #444;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #444;
  border-radius: 10px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  font-size: 18px;
  text-decoration: none;
}

.dropdown-item {
  padding-left: 10px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: #358bca;
  color: #fff;
}

/******************* Buttons *******************/
.primary-btn {
  background-color: #358bca;
  color: white;
  padding: 1rem 2rem;
  border-width: 1px;
  border-color: #358bca;
  border-radius: 10px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  text-align: center;
  text-decoration: none;
}
.primary-btn:hover {
  background-color: #3285c0;
  color: white;
}
.disable-primary-btn {
  opacity: 0.6;
  cursor: not-allowed;
}

.primary-txt-btn {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  text-decoration: none;
}
.primary-txt-btn:hover {
  color: #1a6eaa;
}

.primary-outline-btn {
  background-color: white;
  color: #358bca;
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  border-color: #358bca;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  text-decoration: none;
  text-align: center;
}
.primary-outline-btn:hover {
  background-color: #358bca;
  color: white;
}

.white-outline-btn {
  background-color: #358bca;
  color: white;
  padding: 0.25rem 1.5rem;
  border-width: 1px;
  border-color: white;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}
.white-outline-btn:hover {
  background-color: white;
  color: #358bca;
}
.white-outline-btn:active {
  background-color: white;
  color: #358bca;
}
.secondary-outline-btn {
  background-color: white;
  color: #888;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 1px;
  border-color: #888;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  text-decoration: none;
  width: fit-content;
  white-space: nowrap; /* Prevents the button text from wrapping */
}

.secondary-outline-btn {
  max-width: 100%; /* Ensures button doesn't overflow the container */
}

.secondary-outline-btn:hover {
  background-color: #888;
  color: white;
}
.secondary-outline-btn:active {
  background-color: #888;
  color: white;
}

.oauth-btn {
  background-color: #cc3e2f;
  color: white;
  padding: 1rem 2rem;
  border-width: 1px;
  border-color: #cc3e2f;
  border-radius: 10px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  text-align: center;
  text-decoration: none;
}

.oauth-btn:hover {
  background-color: #c0392a;
}

/******************* Recommend card *******************/
.rcm-card {
  padding: 40px;
}

.rcm-card-container {
  background-color: #aed6f1;
  border: 1px solid #aed6f1;
  border-radius: 50px;
}

.rcm-card-des {
  color: #34495e;
}

/******************* Footer *******************/
.footer {
  background-color: #f5f5f5;
  color: #888;
  display: flex;
  justify-content: center;
}
.footer-icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.footer-info {
  margin-bottom: 1rem;
}

.screen-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.new {
  width: 350px;
  height: 500px;
  box-shadow: 5px 5px 5px #cacfd2;
  margin: 20px;
  display: block;
  overflow: hidden;
  border-radius: 0px 0px 10px 0px;
  text-decoration: none;
  color: #000;
  padding: 5px;
  background-color: #ffffff;
  position: relative;
}
.new-title {
  font-size: 20px;
  font-weight: bold;
  color: #358bca;
}
.new img {
  width: 100%;
  height: 70%;
}
.background {
  background-color: #f3fcff;
  padding: 3rem 4rem;
}
.new-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng muốn giới hạn */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm nếu nội dung bị cắt */
  height: 10%;
}
.new-day {
  font-size: 12px;
  color: #888;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.new-day span {
  margin-right: 10px;
}

.paging {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0 5rem;
}

.paging li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: 1px solid transparent; /* Đặt viền mặc định là trong suốt */
  cursor: pointer;
  overflow: visible;
}

.paging li.previous a,
.paging li.next a,
.paging li.break a {
  border-color: transparent;
}

.paging li.active a {
  background-color: #0366d6;
  color: white;
  min-width: 32px;
  border-color: #0366d6; /* Đổi màu viền theo màu nền */
}

.paging li.disabled a {
  color: grey;
  border-color: transparent; /* Đảm bảo viền không hiển thị */
}

.paging li.disable,
.paging li.disabled a {
  cursor: default;
}

.personal-header {
  display: flex;
  justify-content: space-evenly;
}

.personal-result-table {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  margin-top: 10px;
  flex-wrap: wrap;
}
.personal-result-table div {
  width: 25%;
  padding: 1rem;
  border: 1px solid #358bca;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  z-index: 2;
}

.dark-blue {
  color: #fad7a0;
}

.img-per {
  display: flex;
}

.img-per img {
  margin-bottom: 2.7rem;
  margin-right: 10px;
}

.background-img {
  background-color: #071c39;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.background-img::before,
.background-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Đảm bảo các chấm không can thiệp đến các phần tử khác */
}

.background-img::before {
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 1px,
      transparent 2px
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 1px, transparent 2px);
  background-size: 300px 300px; /* Kích thước và khoảng cách của các chấm */
  background-position: 50% 10%, 80% 40%, 50% 70%, 20% 40%, 65% 25%, 35% 75%;
  animation: rotate 40s linear infinite;
}

.background-img::after {
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.4) 1px,
      transparent 2px
    ),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px),
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 2px);
  background-size: 400px 400px; /* Kích thước và khoảng cách của các chấm */
  background-position: 50% 10%, 80% 40%, 50% 70%, 20% 40%, 65% 25%, 35% 75%;

  animation: rotate 40s linear infinite;
}
.gradient {
  background-image: url("https://i1-vnexpress.vnecdn.net/2022/12/09/dai-ngan-ha-6665-1670582139.jpg?w=0&h=0&q=100&dpr=2&fit=crop&s=yKtbviyLmTsWK5FZeQ5KMg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
  margin: auto;
  transform: rotateX(-40deg);
  box-shadow: 0px 0px 100px;
  animation: rotate 20s linear infinite;
  border-radius: 100%;
  left: 37.5%;
  top: 30%;
  z-index: 0;
  filter: blur(4px);
}

@media (max-width: 768px) {
  .secondary-outline-btn {
    padding: 0.3rem 1rem; /* Smaller padding for smaller screens */
    font-size: 0.9rem; /* Adjust font size for mobile */
  }
  .answer-item-5 {
    width: 100%; /* Stack the items vertically for smaller screens */
    margin-bottom: 1rem; /* Space between answers */
  }
}

.menu {
  color: white;
}
