@font-face {
  font-family: "Jomhuria";
  src: url("./assets/fonts/Jomhuria-Regular.ttf");
}

@font-face {
	font-family: "Nunito_Sans_10pt_Condensed_Regular";
	src: url("./assets/fonts/NunitoSans_10pt_Condensed-Regular.ttf");
}

@font-face {
	font-family: "Nunito_Sans_10pt_Condensed_Bold";
	src: url("./assets/fonts/NunitoSans_10pt_Condensed-Bold.ttf");
}

.test {
  background-color: #4596cf;
  padding: 1px;
}

:root {
  background-color: #F5F5F5;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  line-height: 1.5;
}

body {
  margin: 0; /* Override user agent stylesheet*/
} 

/* Body Style */
.body {
  background-color: #F5F5F5;
  margin: 5rem 8rem;
}

/* Font Style */
.bold-txt {
  font-family: Nunito_Sans_10pt_Condensed_Bold;
}

/* Font Size */
.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

/* Single Special Style */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-content-center {
  display: flex;
  justify-content: center;
}

.flex-items-center {
  display: flex;
  align-items: center;
}

.flex-items-start {
  display: flex;
  align-items: flex-start;
}

.flex-self-start {
  display: flex;
  align-self: flex-start;
}

.width-45 {
  width: 45%;
}

.width-fit-content {
  width: fit-content;
}

.screen-title {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
}

/* App Name Style */
.appName {
  font-family: Jomhuria;
  font-size: 3rem;
  color: white;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* Navbar */
.nav {
  background-color: #358bca;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0rem 5rem;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav li:hover {
  background-color: #4596cf;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li:active {
  background-color: #4596cf;
}

.nav a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/* Card */
.card {
  background-color: white;
  padding: 2rem 4rem;
}

.card-margin-top {
  margin-top: 2px;
}

.card-margin-right {
  margin-right: 2px;
}

.card-left {
  display: flex;
  flex: 9;
}

.card-right {
  display: flex;
  flex: 6;
}

.card-title {
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #358bca;
}

.card-content {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  color: #888;
  margin-bottom: 1.5rem;
}

/* MBTI Screen */
.MBTI-card {
  background-color: white;
  border-radius: 25px;
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}

.MBTI-question-txt {
  color: #358bca;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.MBTI-option-btn {
  width: 47.5%;
  border-radius: 100px;
  border-color: #358bca;
  border-width: 1px;
  border-style: ridge;
  padding: 1rem 2rem;
  text-align: left;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  background-color: white;
  color: #358bca;
}

.MBTI-option-btn:hover {
  background-color: #358bca;
  color: white;
}

.MBTI-option-btn:active {
  background-color: #358bca;
  color: white;
}

.test-show-res-btn {
  background-color: #358bca;
  border-radius: 10px;
  border-width: 1px;
  border-color: #358bca;
  border-style: ridge;
  color: white;
  padding: 1rem 4rem;
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1rem;
  /* centering */
  display: block;
  margin: 3rem auto;
}

.test-show-res-btn:hover {
  background-color: #3285c0;
  color: white;
}

/* Career Cluster Screen */
.CC-instruction-txt {
  font-family: Nunito_Sans_10pt_Condensed_Regular;
  color: #666;
  margin-bottom: 2rem;
}

.CC-card {
  background-color: white;
  border-radius: 25px;
  padding: 2rem 1.5rem 2rem 0.25rem; /* top right bottom left*/
  margin-bottom: 2rem;
}

.CC-card-title-txt {
  color: #358bca;
  transform: rotate(-90deg);
  font-family: Nunito_Sans_10pt_Condensed_Bold;
  font-size: 1.25rem;
  text-align: center;
  width: 65px;
}

.CC-separate-line {
  height: 200px;
  border-left: 1px solid #888;
}

.CC-checkbox {
  margin-left: 0px;
  margin-bottom: 7px;
  vertical-align: middle;
  accent-color: #358bca;
}

.CC-activities-block {
  width: 40%;
  margin-left: 0.5rem;
  margin-right: 1rem;
  /* background-color: #d5d5d5; */
}

.CC-qualities-block {
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.CC-subjects-block {
  width: 25%;
  margin-left: 1rem;
}

/* Images */
.img1 {
  width: 45%;
  height: fit-content;
  margin-right: 3rem;
}

.img2 {
  width: 50%;
  height: fit-content;
}

/* Buttons */
.white-outline-btn {
  background-color: #358bca;
  color: white;
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  border-color: white;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}

.white-outline-btn:hover {
  background-color: white;
  color: #358bca;
}

.white-outline-btn:active {
  background-color: white;
  color: #358bca;
}

.secondary-outline-btn {
  background-color: white;
  color: #888;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border-width: 1px;
  border-color: #888;
  border-radius: 30px;
  border-style: ridge;
  font-family: Nunito_Sans_10pt_Condensed_Regular;
}

.secondary-outline-btn:hover {
  background-color: #888;
  color: white;
}

.secondary-outline-btn:active {
  background-color: #888;
  color: white;
}

/* Footer */
.footer {
  background-color: #F5F5F5;
  color: #888;
  display: flex;
  justify-content: center;
}

.footer-icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.footer-info {
  margin-bottom: 1rem;
}